.container.padding-t-4.padding-b-1#login-box
	.col-md-4.col-md-offset-4
		.panel.panel-primary
			.panel-heading
				= image_tag 'logo.svg', class: 'brand-logo', alt: translate('cmb')
				%span.h3.align-middle 反钓鱼网站平台
			.panel-body
				= form_for :create, url: sessions_url, method: :post, remote: true, html: { id: 'create-form' } do |form|
					.form-group
						= form.label :username, class: 'control-label sr-only' do
							= translate('.username')
						.input-group
							%span.input-group-addon
								%span.fa.fa-user
							- username = Rails.env == 'development' ? 'administrator' : nil
							= form.text_field :username, class: 'form-control', value: username, placeholder: translate('.username_placeholder'), autocomplete: 'off', required: true
					.form-group
						= form.label :password, class: 'control-label sr-only' do
							= translate('.password')
						.input-group
							%span.input-group-addon
								%span.fa.fa-key
							- password = Rails.env == 'development' ? 'administrator' : nil
							= form.password_field :password, class: 'form-control', value: password, placeholder: translate('.password_placeholder'), autocomplete: 'off', required: true
					= form.submit translate('.sign_in'), class: 'btn btn-primary btn-block'
= render 'sessions/new/footer'