.container.padding-t-4.padding-b-1
	.col-md-4.col-md-offset-4
		.panel.panel-primary
			.panel-heading
				= image_tag 'logo.svg', class: 'brand-logo', alt: translate('cmb')
				%span.h3.align-middle
					= translate 'product'
			.panel-body
				= simple_form_for :session, url: session_url, method: :post, remote: true, wrapper: :inline_form, html: { id: 'create-session-form' } do |form|
					- username = Rails.env == 'development' ? 'administrator' : nil
					= form.input :username, input_html: { value: username, autocomplete: 'off' }
					- password = Rails.env == 'development' ? 'administrator' : nil
					= form.input :password, input_html: { value: password, autocomplete: 'off' }
					%button.btn.btn-block.btn-primary{ type: 'submit' }
						= translate 'button.login'
				= link_to '', root_url, id: 'submit-success', class: 'hidden'
= render 'sessions/new/footer'