#create-modal.modal.fade{ role: 'dialog', 'aria-labelledby': 'create-modal-label', 'tabindex': -1 }
	.modal-dialog{ role: 'document' }
		.modal-content
			= form_for :create, url: reports_url, method: :post, remote: true, html: { id: 'create-form', class: 'form-vertical' } do |form|
				.modal-header
					%button.close{ type: 'button', data: { dismiss: 'modal' }, 'aria-label': '关闭' }
						%span.fa.fa-times
					%h4#create-modal-label.modal-title
						%span.fa.fa-upload
						人工录入
				.modal-body
					.row
						.col-md-12.form-group
							= form.label :url, class: 'control-label' do
								URL *
							= form.text_field :url, class: 'form-control', placeholder: 'URL', required: true, pattern: '(https?://)?(\w+\.)+\w+(/.*)?'
					.row
						.col-md-6.form-group
							= form.label :loss, class: 'control-label' do
								损失金额
							.input-group
								%span.input-group-addon
									%span.fa.fa-rmb
								= form.text_field :loss, class: 'form-control', placeholder: '损失金额'
						.col-md-6.form-group
							= form.label :region, class: 'control-label' do
								所在地区
							= form.text_field :region, class: 'form-control', placeholder: '用户地区'
					.row
						.col-md-6.form-group
							= form.label :origin, class: 'control-label' do
								来源
							= form.collection_select :origin_id, Origin.all, :id, :name, { include_blank: true }, class: 'select2', data: { placeholder: '来源', 'allow-clear': 'true' }, require: true
						.col-md-6.form-group
							= form.label :way, class: 'control-label' do
								传播途径
							= form.collection_select :way_id, Way.all, :id, :name, { include_blank: true }, class: 'select2', data: { placeholder: '传播途径', 'allow-clear': 'true' }
					.row
						.col-md-6.form-group
							= form.label :system, class: 'control-label' do
								操作系统
							= form.collection_select :system_id, System.all, :id, :name, { include_blank: true }, class: 'select2', data: { placeholder: '操作系统', 'allow-clear': 'true' }
						.col-md-6.form-group
							= form.label :browser, class: 'control-label' do
								浏览器
							= form.collection_select :browser_id, Browser.all, :id, :name, { include_blank: true }, class: 'select2', data: { placeholder: '浏览器', 'allow-clear': 'true' }
				.modal-footer
					%button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
						关闭
					%button.btn.btn-danger{ type: 'reset' }
						重置
					%button.btn.btn-primary{ type: 'submit' }
						录入