%table#index-report-table.table.table-striped.table-bordered
	%thead
		%tr
			-#%th
			%th= translate 'activerecord.attributes.report.found_time'
			%th= translate 'activerecord.attributes.report.dispose_time'
			%th= translate 'activerecord.attributes.report.origin_id'
			%th= translate 'activerecord.attributes.report.url'
			%th= translate 'activerecord.attributes.report.status_id'
			%th
	%tbody
	%tfoot
		%tr
			-#%th
			%th= translate 'activerecord.attributes.report.found_time'
			%th= translate 'activerecord.attributes.report.dispose_time'
			%th= translate 'activerecord.attributes.report.origin_id'
			%th= translate 'activerecord.attributes.report.url'
			%th= translate 'activerecord.attributes.report.status_id'
			%th