%table#index-white-table.table.table-striped.table-bordered
	%thead
		%tr
			%th= translate 'activerecord.attributes.white.url'
			%th= translate 'activerecord.attributes.white.disposer_id'
			%th= translate 'activerecord.attributes.white.created_at'
			%th
	%tbody
	%tfoot
		%tr
			%th= translate 'activerecord.attributes.white.url'
			%th= translate 'activerecord.attributes.white.disposer_id'
			%th= translate 'activerecord.attributes.white.created_at'
			%th