%table#index-user-table.table.table-striped.table-bordered
	%thead
		%tr
			%th= translate 'activerecord.attributes.user.username'
			%th= translate 'activerecord.attributes.user.name'
			%th= translate 'activerecord.attributes.user.telephone'
			%th= translate 'activerecord.attributes.user.email'
			%th= translate 'activerecord.attributes.user.role'
			%th
	%tbody
	%tfoot
		%tr
			%th= translate 'activerecord.attributes.user.username'
			%th= translate 'activerecord.attributes.user.name'
			%th= translate 'activerecord.attributes.user.telephone'
			%th= translate 'activerecord.attributes.user.email'
			%th= translate 'activerecord.attributes.user.role'
			%th