.wrapper
	.content-wrapper
		%section.content-header
			%h1
				= translate 'index.index.sidebar.reports'
		%section.content
			.row
				.col-md-12
					.box.box-primary
						.box-body
							.progress
								#index-report-progress-bar.progress-bar.progress-bar-warning.progress-bar-striped.active{ role: 'progressbar', aria: { valuenow: 120, valuemin: 0, valuemax: 120 }, data: { format: translate('frames.reports.progress.format') } }
							= render 'frames/reports/index_report_form'
			.row
				.col-md-12
					.box.box-info
						.box-body
							= render 'frames/reports/index_report_table'
= render 'frames/reports/create_report_modal'
= render 'frames/reports/show_report_modal'
= render 'frames/reports/create_screenshot_modal'