= simple_form_for new_report_screenshot_url(@report), wrapper: 'vertical_form', defaults: { required: false } do |form|
	.modal-header
		%button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { label: translate('modal.close') } }
			%span.fa.fa-times
		%h4#show-report-modal-label.modal-title
			%span.fa.fa-upload
				= translate('screenshots.create.title')
	.modal-body
		.row
			.col-md-12.form-group
				= form.label :screenshot, class: 'control-label', accept: 'image/jpeg' do
					选择文件
				= form.file_field :screenshot, class: 'form-control', required: true
	.modal-footer
		%button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } }
			= translate('modal.close')
		%button.btn.btn-primary{ type: 'submit' }
			= translate('screenshots.create.submit')