%aside.main-sidebar
	%section.sidebar
		%ul.sidebar-menu
			- if can? :read, Report
				%li
					= link_to reports_frame_url, target: 'main', class: 'nav-item' do
						%i.fa.fa-desktop
						%span
							= translate 'index.index.sidebar.report'
			- if can? :check, Report
				%li
					%a.nav-item{ href: '#',  target: 'main' }
						%i.fa.fa-bar-chart
						%span
							= translate 'index.index.sidebar.chart'
			- if can? :manage, White
				%li
					%a.nav-item{ href: whites_frame_url,  target: 'main' }
						%i.fa.fa-list-ul
						%span
							= translate 'index.index.sidebar.white'
			%li.treeview
				%a.dropdown-toggle{ role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false } }
					%i.fa.fa-gear
					%span
						= translate 'index.index.sidebar.manage'
					%span.fa.fa-angle-left.pull-right
				%ul.treeview-menu
					- if can? :manage, User
						%li
							%a.nav-item{ href: users_frame_url, target: 'main' }
								= translate 'index.index.sidebar.user'
					- if can? :manage, Role
						%li
							%a.nav-item{ href: '#', target:'main' }
								= translate 'index.index.sidebar.role'