!!! 5
%html{lang: I18n.locale}
	%head
		%title Anti-Phishing
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		= stylesheet_link_tag controller_name, media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= javascript_include_tag controller_name, 'data-turbolinks-track' => true
		= csrf_meta_tags
		%meta{ name: 'charset', content: 'UTF-8' }
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
	%body.body.skin-blue{ class: body_class }
		= yield